* {
    padding: 0.4% 5%;
    text-align: center;
    background-color: #0e0e14;
    font-family: 'DM Serif Text', serif;
    font-family: 'Lexend Deca', sans-serif;
}


.title {

    h1 {
        color:#efedec;
    }
    p {
        margin-top: -25px;
        color:#a7bcf7;
    font-weight: 300;
    }
    img {
        width:30%;
        min-width: 30%;
    }

    
}