<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumb Hacking Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>Dumb Hacking Bot 🐒</h1>
         
        <p>Inspired by the Infinite Monkey Theorem </p>
        <div class="line"></div>
        </p>
        <img src="/static/assets/spike-monkey-typing.gif" alt="" srcset="">
        <h1>Exiba {{variavel}}</h1>

    </div>
    <div class="hacking">
        
    </div>



</body>
</html>